aiofiles==0.8.0
anyio==3.6.1
beautifulsoup4==4.11.1
bs4==0.0.1
certifi==2022.5.18.1
charset-normalizer==2.0.12
colorama==0.4.4
greenlet==1.1.2
h11==0.12.0
httpcore==0.15.0
httpx==0.23.0
idna==3.3
playwright==1.22.0
playwright-stealth==1.0.5
pyee==8.1.0
requests==2.27.1
rfc3986==1.5.0
sniffio==1.2.0
soupsieve==2.3.2.post1
tqdm==4.64.0
typing-extensions==4.2.0
urllib3==1.26.9
websockets==10.1
